.question {
	background-color: lightgrey;
	margin: 1rem;
	padding: 1rem;
	border-radius: 8px;
}

.msg_crct {
	margin-left: 1rem;
	color: green;
	border:solid 2px green;
	padding: 2px;
	border-radius: 4px;
}

.msg_wrong {
	margin-left: 1rem;
	color: red;
	border:solid 2px red;
	padding: 2px;
	border-radius: 4px;
}

.wrong_selected {
	color: red;
}

.crct_selected {
	color: green;
}	